
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-wJb {
  width: 100%;
  height: 350rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #4f3f57 -0%, rgba(51, 40, 56, 0.6934323311) 35.65%, rgba(0, 0, 0, 0.1400000006) 100%);
}
.desktop-1-wJb .image2024-02-05162258026-removebg-1-Hmm {
  width: 53.6rem;
  height: 73.1rem;
  position: absolute;
  left: 6.3rem;
  top: 34.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.7rem;
}
.desktop-1-wJb .tyler-the-creator-6UK {
  width: 38.4rem;
  height: 6.4rem;
  position: absolute;
  left: 6.3rem;
  top: 107.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #8e89ce;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .image2024-02-05163221017-removebg-preview-1-1-8A7 {
  width: 51rem;
  height: 82.3rem;
  position: relative;
  left: 96rem;
  top: 107.4rem;
  background-size: 121.136% 116.37%;
  background-position: -3.2455rem 0.2036rem;
  background-image: url('../assets/image2024-02-05163221017-removebg-preview-1-1.png');
  border-radius: 9.1rem;
}
.desktop-1-wJb .image2024-02-05172749445-photoroom-1-jfh {
  width: 67.2rem;
  height: 84.4rem;
  position: relative;
  left: 80rem;
  top: 18rem;
  background-size: 120.428% 120.267%;
  background-position: -13.7273rem -4.3629rem;
  background-image: url('../assets/image2024-02-05172749445-photoroom-1.png');
  border-radius: 12rem;
}
.desktop-1-wJb .kanye-west-bT1 {
  width: 27.2rem;
  height: 6.4rem;
  position: absolute;
  left: 102.7rem;
  top: 189.7rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #c39c8a;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .travis-scott-J6X {
  width: 26.8rem;
  height: 6.4rem;
  position: absolute;
  left: 86.8rem;
  top: 102.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #d3beab;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .raplibrary-cN7 {
  width: 48.2rem;
  height: 12.1rem;
  position: absolute;
  left: 48.3rem;
  top: 14.5rem;
  font-size: 9.6rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #b06d08;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .image2024-02-05175152061-photoroom-1-iR9 {
  width: 62.1rem;
  height: 106.9rem;
  position: absolute;
  left: 0;
  top: 126.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 14.5rem;
}
.desktop-1-wJb .image2024-02-05181113095-photoroom-1-Dco {
  width: 49rem;
  height: 86.9rem;
  position: absolute;
  left: 45.4rem;
  top: 96.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 8.9rem;
}
.desktop-1-wJb .mf-doom-X7h {
  width: 23.7rem;
  height: 6.4rem;
  position: absolute;
  left: 58.3rem;
  top: 183.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #4d4d4d;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .playboi-carti-2aF {
  width: 29.5rem;
  height: 6.4rem;
  position: absolute;
  left: 5.6rem;
  top: 233.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #6fda89;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .image2024-02-05182236184-photoroom-1-995 {
  width: 56.4rem;
  height: 69.9rem;
  position: absolute;
  left: 49.6rem;
  top: 183.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-wJb .future-FT1 {
  width: 15.5rem;
  height: 6.4rem;
  position: absolute;
  left: 56.5rem;
  top: 253.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #f2a1c1;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-wJb .image2024-02-05182847915-photoroom-1-N1q {
  width: 118.7rem;
  height: 154.5rem;
  position: absolute;
  left: 72rem;
  top: 199.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-wJb .chief-keef-gHR {
  width: 7.6rem;
  height: 25.6rem;
  position: absolute;
  left: 98.2rem;
  top: 314.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #a2bdbd;
  font-family: Koh Santepheap, 'Source Sans Pro';
}
.desktop-1-wJb .image2024-02-05183547423-photoroom-1-y1d {
  width: 84.4rem;
  height: 99.2rem;
  position: absolute;
  left: 0;
  top: 238rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-wJb .kendrick-lamar-VEs {
  width: 37.4rem;
  height: 6.4rem;
  position: absolute;
  left: 30.9rem;
  top: 337.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #2f2e5a;
  font-family: Koh Santepheap, 'Source Sans Pro';
  white-space: nowrap;
}
